<div class="container home-layout">
    <div class="row">
        <div class="col-sm-12">
            <section class="main">
                <a class="back-link" href="/">< Back to home</a>
                <img class="img-resp" src="images/funny-cat.jpeg">
            </section>
        </div>
    </div>
</div>


