$primary-color: #006abb;
$secondary-color: #470a61;

@font-face {
    font-family: 'grendelbold';
    src: url('fonts/grendb__-webfont.woff2') format('woff2'),
         url('fonts/grendb__-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}